
*
{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

body

{
    font-family: 'Cairo', sans-serif;
    line-height: 1.5;
    background-image: url('pic03.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover
}

a{
    text-decoration: none;

}
 
.text-primary
{

    color: chocolate;
}

#navbar
{
    display: flex;
    position: sticky;
    top: 0%;
    background-color:rgb(95, 88, 79, 0.4);
    color: darkorange;
    justify-content: space-between;
    padding: 1rem;
    z-index: 1;
}

#navbar ul
{   
    display: flex;
    list-style: none;
    align-items: center;
}
#navbar ul li a 
{
    color: #fff;
    margin: 0.5rem;
    padding: 0.75rem;

}
#navbar ul li a:hover
{
    background-color: darkorange;
    border-radius: 0.5rem;


}

#showcase 
{  
   
    color: #333;
    background-image:
    url('showcase.jpeg');
    background-repeat: no-repeat; 
    background-position: center;
    background-size:cover;
    height: 100vh;
   
    
}

#showcase .showcase-content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 65px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background:rgb(0, 0, 0, 0.4);
}

.l-heading
{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.3;
}

.lead
{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn
{
    display: inline-block;
    color: #fff;
    background-color:darkorange;
    padding: 0.5rem 2rem;
    border-radius: 5px ;
    border: none;
}

.btn:hover
{
    background: rgb(245,140,0,0.4);
}

#what
{
    background-color:whitesmoke;
    color: rgb(192, 60, 11);
    padding: 1.5rem;
}

.text-center
{
    text-align: center;
    font-size :2rem ;
}

.container
{
    display: flex;
    padding-top: 1rem;
    align-items:center
}

.item
{
    color: white;
    background-color: darkorange;
    border-radius: 50%;
    padding: 1rem;
    
}

.article
{
    font-size: large;
    padding: 3rem;
    text-align: center;
    margin-left:5rem ;
}

#who
{
    display: flex;
    background-color: rgb(61, 49, 46,0.4);
    padding:5rem;
}



.who-text
{
    flex: 1;
 
}

.who-text p
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-right: -4rem;
    color: #fff;
    line-height: 3rem;
    background:rgb(0, 0, 0, 0.1);
}
.m-heading
{
    margin-right: -4rem;
    background:rgb(0, 0, 0, 0.1);
    width: 800px;
}


.thumbnails
{
    background:rgb(0, 0, 0, 0.1);
    padding-right: 2rem;
    margin-right: -4rem;
    
    
}
.box
{
    border:2px solid #fff
}

.name
{

    width: 1200px;height: 400px;
    background:rgb(0, 0, 0, 0.1);
    
}

.Finish
{
    margin-right: 5rem;
    margin-right: 5rem;
    background:rgb(0, 0, 0, 0.1);
}

#comu
{
    background-color: rgb(0, 0, 0, 0.5);
    text-align: center;
    padding: 1.5rem;
}


.item2
{
    color: white;
    background-color: rgb(206, 32, 32);
    padding: 1rem;
}

.as
{
    color:white;
    display: inline-block;
    background-color:rgb(206, 32, 32);
    padding: 0.5rem 2rem;
    border-radius: 5px ;
    border: none;
}


.as:hover
{
    background: rgba(206, 32, 32, 0.4);
}












